.resources__link {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    background-position: center;
}

.resources__link:hover {
    opacity: 70%;
    transition-timing-function: ease-in;
}
