.feynman__title {
    font-size: 120px;
    font-weight: 600;
    line-height: 1.15;
    width: 648px;
    text-align: center;
    align-self: center;
    z-index: 2;
    margin: 0;   
    margin-block-start: 100px;
    margin-block-end: 70px; 
}
