.feynman__title {
    font-size: 120px;
    font-weight: 600;
    line-height: 1.15;
    width: 648px;
    padding-top: 100px;
    text-align: center;
    align-self: center;
    z-index: 2;
    margin: 0;    
}
